.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.card {
width: 200px;
padding: 25%;
background-color: #f5f5f5;
border-radius: 10px;
box-shadow: 0px 0px 10px #00000033;
}

.card-header {
background-color: #007bff;
color: #fff;
text-align: center;
padding: 20px;
border-radius: 10px 10px 0px 0px;
}

.card-body {
padding: 20px;
}

.form-group {
margin-bottom: 20px;
}

.form-control {
border-radius: 10px;
border: 1px solid #ccc;
padding: 10px;
}

.btn {
border-radius: 10px;
background-color: #007bff;
color: #fff;
padding: 10px 20px;
transition: all 0.3s ease;
cursor: pointer;
margin-top: 20px;
}

.btn:hover {
background-color: #0069d9;
}

.card-footer {
text-align: center;
padding: 10px;
font-size: 12px;
}

.card-footer a {
color: #007bff;
text-decoration: none;
}

.loading {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}